* {
    margin: 0;
    padding: 0;
    word-wrap: normal;
    text-decoration: none;
    font-family: 'Open Sans';
}

body {
    background: #555;
}

/* Estrutura do documento */
.wrapper {
    max-width: 1200px;
    margin: 0 auto 10px auto;
    background: #fff;
    border-radius: 0 0 20px 20px;
}

.header {
    height: 100px;
    background: #eee;
}

.main {
    padding: 80px 20px 20px 20px;
}

.footer {
    padding: 20px;
    border-radius: 0 0 20px 20px;
    background: #aaa;
}

/* Formatação de elementos */
.profile-container {
    background: #fff;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    position: absolute;
    bottom: -75px;
    left: 75px;
}

.profile-picture {
    width: 200px;
    margin-left: -25px;
}


/* Classes em geral */
.float-left {
    float: left;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.text-center {
    text-align: center;
}

/* Elementos em geral*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans';
    margin: 20px 0;
}

p {
    font-size: 1em;
    line-height: 2em;
    margin: 15px 0;
}

ul, ol {
    margin: 15px 0;
    list-style: none;
}

li {
    margin: 10px 0 0 15px;
}

ol li {
    color: #019134;
    font-weight: bold;
    font-size: 1.1em
}

a {
    font-weight: bold;
    color: #DE0C04
}

a:hover {
    color: #910500;

}